*,*:after,*:before{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    overflow-x:hidden;
}
.error-input{
    border-color:red;
}
.empty-table{
    text-align:center;
    font-weight:bold;
    text-transform:uppercase;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:30px;
    font-weight:bold;
}